body {
    background: -moz-linear-gradient(53deg, rgba(255,188,64,1) 0%, rgba(221,179,56,1) 15%, rgba(29,130,12,1) 100%); /* ff3.6+ */  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,188,64,1)), color-stop(15%, rgba(221,179,56,1)), color-stop(100%, rgba(29,130,12,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(53deg, rgba(255,188,64,1) 0%, rgba(221,179,56,1) 15%, rgba(29,130,12,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(53deg, rgba(255,188,64,1) 0%, rgba(221,179,56,1) 15%, rgba(29,130,12,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(53deg, rgba(255,188,64,1) 0%, rgba(221,179,56,1) 15%, rgba(29,130,12,1) 100%); /* ie10+ */
    background: linear-gradient(37deg, rgba(255,188,64,1) 0%, rgba(221,179,56,1) 15%, rgba(29,130,12,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D820C', endColorstr='#FFBC40',GradientType=0 ); /* ie6-9 */
}


