{% extends 'accounts/dashboard.html' %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    {% load widget_tweaks %}
    <div class="container" id="gallery-form-container">
        <div class="row">
            <div class="col-sm-2 offset-1" id="vertical-nav">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'gallery:list-gallery' %}">View Galleries</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Create</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>

            </div>


            <div class="col-sm-8 offset-1">

                <h2 class="text-center my-3">The Image Gallery Creation Form</h2>

                {% load widget_tweaks %}

                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="text-center alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form ref="form" @submit.prevent="display()" action="{% url 'gallery:create-gallery' %}"
                    method="post">{% csrf_token %}

                    <div class="form-group">
                      <label for="{{ gallery.keyword_for_label }}">Keywords to search for :</label>
                      {{ gallery.keywords|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                      <label for="{{ gallery.size_for_label }}">Size of the Images: (Ex - Medium, Large, icon)</label>
                      {{ gallery.size|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                      <label for="{{ gallery.limit_for_label }}">Number of Images: (Enter how many images you want to download)</label>
                      {{ gallery.limit|add_class:"form-control" }}
                    </div>

                    <div class="form-group">
                      <label for="{{ gallery.specific_site_for_label }}">Any specific sites to look images for ?
                          (Note that this field is not required)</label>
                      {{ gallery.specific_site|add_class:"form-control" }}
                    </div>

                    <div class="container text-center">
                        <input class="btn btn-primary" type="submit" value="Create Gallery"
                               @click="" id="gallerySubmit">
                    </div>

                </form>

                <div class="container" id="message-container" v-if="completed">
                    <h4 class="text-center my-3">After Your query is being executed and there are no errors,
                        note that for larger number of images,
                        it would take more time. So, have patience</h4>
                </div>


            </div>

        </div>

    </div>

    <script>
        let vueInstance = new Vue({
            el: '#gallery-form-container',
            delimiters: ["<%","%>"],
            data: () => {
                return {
                    message: 'Your name message',
                    completed: true,
                    label_text: '',
                }
            },
            methods: {
                display: function() {
                    this.completed = true;
                    console.log('The form would now be submitted...');
                    this.$refs.form.submit();
                }
            }
        })
    </script>
{% endblock %}